<div class="card mb-3" id="<%= dom_id post %>">
  <div class="card-body">
    <div class="card-title text-end">
      <%= link_to edit_post_path(post), "data-controller": "turbo", class: "d-inline-block me-2" do %>
          <i class="bi bi-pencil-fill" title="Edit this post"></i>
      <% end %>

      <%= button_to post, method: :delete, class: "btn btn-danger d-inline-block me-2", form: { data: { turbo_confirm: "Are you sure?" }, class: "d-inline-block" } do %>
          <i class="bi bi-trash-fill" title="Delete"></i>
      <% end %>

      <%= link_to post_path(post), class: "d-inline-block me-2", data: { turbo_frame: "_top" } do %>
          <i class="bi bi-eye-fill" title="Show this post"></i>
      <% end %>
    </div>
    <p class="card-text">
      <%= post.body %>
    </p>
     <% if post.image.attached? %>
        <%= image_tag url_for(post.image), class: "img-fluid w-100" %>
      <% end %>
    <div>
    </div>
  </div>
</div>

